:root{
  --circleDiameter: 130px;
}
.x {
  background-color: #cd9090 !important;
  border: 5px dotted #cbcbcb !important;
}
.bingo {
  width: 410px;
  display: grid;
    transition: 0.5s;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #5f1414;
  
  font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 13px;
  line-height: 13px;
letter-spacing: 0px;
word-spacing: 0px;
font-weight: 400;
text-decoration: none solid rgb(68, 68, 68);
font-style: normal;
font-variant: small-caps;
text-transform: none;
}

.bingo > div {
  background-color: #cbcbcb;
  border: 5px dotted #c55d5d;
  border-radius: 50%;
  width: var(--circleDiameter);
  height: var(--circleDiameter);
  clip-path: circle(50% at 50% 50%);
  padding: 0;
  text-align: center;
  
}

.bingo > div::before {
  content: "";
  float: left;
  height: var(--circleDiameter);
  width: calc(var(--circleDiameter)/2);
  shape-outside: polygon(
    0 0,
    98% 0,
    50% 6%,
    23.4% 17.3%,
    6% 32.6%,
    0 50%,
    6% 65.6%,
    23.4% 82.7%,
    50% 94%,
    98% 100%,
    0 100%
  );
  shape-margin: 2px;
}

.bingo > div > div {
  height: var(--circleDiameter) !important;
}

.bingo > div > div::before {
  content: "";
  float: right;
  height: var(--circleDiameter);
  width: calc(var(--circleDiameter)/2);
  shape-outside: polygon(
    2% 0%,
    100% 0%,
    100% 100%,
    2% 100%,
    50% 94%,
    76.6% 82.7%,
    94% 65.6%,
    100% 50%,
    94% 32.6%,
    76.6% 17.3%,
    50% 6%
    );
  shape-margin: 2px;
}

.or{
  display: block;
  font-weight: bold;
  font-style: italic;
  padding: 4px;
}
