#filter {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: flex-end;
}
#filter div {
	width: 140px;
}
input {
	width: 140px;
}
tr {vertical-align: top;}
.existPot {
	border-bottom: 1px dotted;
	cursor: pointer;
}
.hide{
	display: none;
}
.show{
	display: block;
}
li{
	border: 1px solid #33333333;
	border-radius: 2px;
	padding: 2px;
	cursor: pointer;
	list-style: none;
}
li:hover{
	background-color: #33333333;
}
h3 {
	text-align: center;
	padding-top: 5px;
}
p {
	border: 1px solid #33333310;
	padding: 5px;
	margin: 2px;
}
h4 {
	margin: 2px;
	margin-top: 10px;
}
#relList {
	padding: 0px;
	height: 500px;
	overflow-y: auto;
}
#status{
	text-transform: lowercase;
	font-family: monospace;
	font-size: 13px;
}
.canonMarker {
    font-size: 16px;
}
